<div class="container">
  <div class="row my-3 pt-3">
    <div class="col-lg-3 ml-5">
      <h4 class="bg-light text-center" style="width:190px">会員情報編集</h4>
    </div>
  </div>
</div>

<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました。
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <%= form_with model: @customer, url: customers_information_path do |f| %>
    <div class="form-group row">
      <div class="col-lg-2 col-form-label"><%= f.label "氏名" %></div>
      <div class="col-lg-3">
        <%= f.text_field :last_name, placeholder:"令和", class:"form-control" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :first_name, placeholder:"道子", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-form-label"><%= f.label "フリガナ" %></div>
      <div class="col-lg-3">
        <%= f.text_field :last_name_kana, placeholder:"レイワ", class:"form-control" %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :first_name_kana, placeholder:"ミチコ", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-form-label"><%= f.label "郵便番号" %></div>
      <div class="col-lg-3">
        <%= f.text_field :postal_code, placeholder:"0000000", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-form-label"><%= f.label "住所" %></div>
      <div class="col-lg-8">
        <%= f.text_field :address, size: 50, placeholder:"東京都渋谷区代々木神園町0-0", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-form-label"><%= f.label "電話番号" %></div>
      <div class="col-lg-3">
        <%= f.text_field :telephone_number, placeholder:"0000000000", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 col-form-label"><%= f.label "メールアドレス" %></div>
      <div class="col-lg-3">
        <%= f.text_field :email, placeholder:"sample@example.com", class:"form-control" %>
      </div>
    </div>

    <div class="row justify-content-center my-4">
      <div class="col-lg-4">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
      </div>

      <div class="col-lg-2">
        <%= link_to withdraw_customers_path, class: "btn btn-danger" do %>
          退会する
        <% end %>
      </div>
    </div>
  <% end %>
</div>