<h2>マイページ</h2>

<div>
  <h3>登録情報</h3>
  <%= link_to customers_information_edit_path do %>
    編集する
  <% end %>

  <table>
    <thead>
      <th>氏名</th>
      <th>カナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
    </thead>

    <tbody>
      <tr>
        <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
        <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
        <td><%= @customer.postal_code %></td>
        <td><%= @customer.address %></td>
        <td><%= @customer.telephone_number %></td>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3>注文履歴</h3>
  <%= link_to orders_path do %>
    一覧を見る
  <% end %>
</div>