<div class="container">
  <div class="row my-3 pt-3">
    <div class="col-lg-3 ml-5">
      <h4 class="bg-light text-center" style="width:190px">注文履歴詳細</h4>
    </div>
  </div>
</div>

<div class="container ml-4 pt-2">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <h6 class="font-weight-bold">注文情報</h6>
        </div>

        <div class="col-lg-12">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="bg-light">注文日</th>
                <td style="width:75%"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <th class="bg-light align-middle">配送先</th>
                <td>
                  〒<%= @order.shipping_post_code %><br>
                  <%= @order.shipping_address %><br>
                  <%= @order.shipping_name %>
                </td>
              </tr>
              <tr>
                <th class="bg-light">支払方法</th>
                <td><%= @order.payment_method_i18n %></td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ml-3">
      <div class="row">
        <div class="col-lg-12">
          <h6 class="font-weight-bold">請求情報</h6>
        </div>

        <div class="col-lg-12">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="bg-light">商品合計</th>
                <td><%= @order.item_total_amount.to_s(:delimited) %></td>
              </tr>
              <tr>
                <th class="bg-light">送料</th>
                <td><%= @order.postage %></td>
              </tr>
              <tr>
                <th class="bg-light">ご請求額</th>
                <td><%= @order.subtotal.to_s(:delimited) %></td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-4 ml-4 pt-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-12">
          <h6 class="font-weight-bold">注文内容</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered">
            <thead class="thead-light">
              <th>商品</th>
              <th>単価(税込)</th>
              <th>個数</th>
              <th>小計</th>
            </thead>

            <tbody>
              <% @order.order_items.each do |order_item| %>
                <tr>
                  <td><%= order_item.item.name %></td>
                  <td><%= order_item.tax_included_price.to_s(:delimited) %></td>
                  <td><%= order_item.amount %></td>
                  <td><%= order_item.subtotal.to_s(:delimited) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>