<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <% if request.fullpath.include? "/admin" %>
          <%= render 'admin/header' %>
        <% else %>
          <%= render 'customer/header' %>
        <% end %>
        <%= link_to destroy_admin_session_path, method: :delete do %>
          ログアウト
        <% end %>

    </header>
    <%= yield %>
  </body>
</html>
